@{
  Layout = "_Layout";
}

@model Registrar.Models.Department

<h3>Department Name: @Model.DepartmentName</h3>

  @if (Model.Courses.Count == 0)
  {
    <p>There are no courses offered by this department</p>
  }
<ul>
  @foreach (var course in Model.Courses)
  {
    <li>@Html.ActionLink(course.CourseName, "Details", "Course", new { id = course.CourseId })</li>
  }
</ul>

<h3>Students</h3>
  @if (Model.Students.Count == 0)
  {
    <p>There are no courses offered by this department</p>
  }
<ul>
  @foreach (var student in Model.Students)
  {
    <li>@Html.ActionLink(student.Student.StudentName, "Details", "Student", new { id = student.Student.StudentId })</li>
  }
</ul>



<p>@Html.ActionLink("Return Home", "Index", "Home")</p>