@{
  Layout = "_Layout";
}

<h1>Hubbard University Student Registrar</h1>
<hr />
<button class="btn btn-warning btn-md" onclick="location.href='@Url.Action("Index", "Student")'">View current students</button>
<br>
<button class="btn btn-warning btn-md" onclick="location.href='@Url.Action("Index", "Course")'">View current courses</button>
<br>
<button class="btn btn-warning btn-md" onclick="location.href='@Url.Action("Index", "Department")'">View current departments</button>
